<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= icon('fab', 'github', id: 'my-icon', class: 'strong') %></a></li>
      <li><a href="#"><%= icon('fab', 'instagram', id: 'my-icon', class: 'strong') %></a></li>
      <li><a href="#"><%= icon('fab', 'facebook', id: 'my-icon', class: 'strong') %></a></li>
      <li><a href="#"><%= icon('fab', 'twitter', id: 'my-icon', class: 'strong') %></a></li>
    </ol>
  </div>
</aside><!-- /.blog-sidebar -->